@media (min-width: 1023px)
{
    .propertyContent {
        transform: translateY(100%);
        transition: all 0.3s ease-in-out;
    }
    
    .propertySection:hover .propertyContent {
        transform: translateY(0%);
    }
    
    .propertySection img {
        transition: all 0.5s ease-in-out
    }
    .propertySection:hover img {
        transform: scale(1.1);
    }
}